
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class="org.example.Dev">
<!--        <property name="lap" ref="lap1"/>-->
<!--        <property name="age" value="89"></property>-->
<!--        <constructor-arg name="age" value="45"/>-->
        <property name="comp" ref="desk"/>
    </bean>

   <bean id = "lap1" class="org.example.Laptop"></bean>

  <bean id = "desk" class="org.example.Desktop"></bean>
</beans>